a {
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
}

nav{
  background-color: #75dcdc;
  border-bottom: 3px solid #182424;
}

.navbar-collapse {
  margin-top: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(60, 60, 60)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
