.lotto-ticket {
  background-color: #fdeae9;
  border: 2px solid red;
}

.custom-background {
   background-color: #ebedd1;
}

#userNumber {
  width: 100px;
}

#numberInput {
  width: 250px;
}

#numberInput input {
  border-radius: 10px;
}

.draw-ticket {
  border-radius: 10px !important;
}
