.box {
  display: inline-grid;
  grid-template-columns: repeat(7, 20px);
  margin: 20px;
  border: 5px solid #ea989c;
}

.cell {
  border: 1px solid black;
  display: flex;
  position: relative;
  background-color: #edbcbe;
  align-items: center;
  justify-content: center;
}

.chosenNumber .number {
  position: relative;
}

.chosenNumber:after {
  content: 'X';
  position: absolute;
  font-size: x-large;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #093e64;
  stroke-width: 3px;
  animation: fadeIn 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    color: transparent;
  }
  100% {
    color: #093e64;
  }
}
